/**/

body{
  background-color: #229bff;
}

#camera{
  margin-top: 5%;
  margin-bottom: 5%;
}

#lat{
  margin-top: 5%;
}

h1{
  font-weight: bold;
  font-size: 20px;
}

#map{
  width: 100%; 
  height: 300px;
}